*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
}
:root {
        --primary-color: #F8F8F8;
        --second-color:#000C24;
        --third-color:#1AC7E9;
}



ul {
        list-style: none;
}
ul li {
        color: var(--primary-color)
}

.blue-header{
        background-image: url(/imgs/home-bg-white.png);
        background-repeat: no-repeat;
        background-size: 11%;
        background-position: 5px 15px;
        position: fixed;
        top:0px;
        width:100%
        
}

.white-header {
        background-image: url(/imgs/home-bg-blue.png);
        background-repeat: no-repeat;
        background-size: 11%;
        background-position: 5px 15px;
        position:fixed;
        top:0px;
        width:100%
}

ul li a {
        color:var(--primary-color);
        transition: all 0.4s;
        cursor: pointer;
}

.skills-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
}


header nav ul #home{
        color:var(--third-color);
        cursor:pointer
        
}

header{
        transition: all 0.4s ease-in-out
}

header.scroll{
        
        background-color: var(--second-color);
        opacity: 0.9;
       box-shadow: 3px 5px 3px 3px rgba(0, 0, 0, 0.2);
       z-index:1000

}


header nav ul {
        display: flex;
        padding-left: 34px;
        width: 100%;
        gap: 57px;
        height: 100px;
        color: var(--primary-color);

        align-items: center;
    }


.blue-bg{
        background-image: url(/imgs/body-background-blue.png);
        background-repeat: no-repeat;
        background-size: 85%;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        background-color: var(--primary-color);
        background-position: 0px 0px;
}    
.white-bg{
      
        background-image: url(/imgs/body-background-white.png);
        background-repeat: no-repeat;
        background-size: 85%;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        background-color: var(--primary-color);
        background-position: 0px 0px;
            
}  

.name-social-media{
        color: var(--primary-color);
        margin: 115px 0 0 30px;
        display: flex;
        height: 220px;
        flex-direction: column;
        gap: 25px;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
}

.name-social-media img {
        width:45px;
        height:45px;
        cursor: pointer;

}
.my-description {
        width:380px     
}

.about-me img {
        width:340px;
        height:340px;
        filter: grayscale(100%);
        border-radius: 10px;
        box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.8);
}
        


section h3 {
        color:var(--third-color);
        margin-bottom: 10px;

}

.projects-container{
        display:flex;
        gap:10px;
        flex-wrap: wrap;
}

.project-wrapper{
        display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 70%;
    color:var(--second-color)
}

.about-me{
        display: flex;
        gap:10px;
        flex-wrap: wrap;
        width: 100%;
        align-items: baseline;
        justify-content: center;
        color: var(--second-color);
        margin-top: 23px;
        text-align: justify;

}

#paint-image{
        top: 905px;
        position: absolute;
        right: 0;
        z-index: -1;
        width: 90%;
        height: 810px;
}
#detail-image{
        top: 373px;
        right: 89px;
        z-index: -1;
        position: absolute;
        width: 20%;
}
.projects{
        text-align: justify;
        width:100%;
        padding: 30px;

}
.projects img {
 width:75%;
 height: 250px;
 border-radius: 10px;
 filter: grayscale(95%);
}

.skills{
width:50%;
        margin: 30px;      
}

a {
        color:var(--third-color)
}
/*****TOGGLE *****/
.toggle, .toggle-res {
        position: relative;
        width: 48px;
        height: 25px;
        background-color: var(--primary-color);
        border-radius: 10px;
      }
      
      .toggle input[type="checkbox"],.toggle-res input[type="checkbox"] {
        display: none;
      }
      
      .toggle-circle, .toggle-circle-res {
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;

      }
      .toggle-circle-res::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--second-color);
        transition: transform 0.3s;
      }
      
      .toggle-circle::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--second-color);
        transition: transform 0.3s;
      }

      
      .toggle input[type="checkbox"]:checked + .toggle-circle::before {
        transform: translate(100%, -50%);
      }
      .toggle-res input[type="checkbox"]:checked + .toggle-circle-res::before {
        transform: translate(100%, -50%);
      }

/*****************************************************************/
/**********MENU MOBILE************/
#menu-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        gap: 7px;
        position: absolute;
        top: 95px;
        border-radius: 10px;
        opacity: 0.9;
        right: 3%;
        padding: 11px;
        background-color: var(--second-color);
        z-index: 200;
        margin-right: 15px;
    }
    
    #menu-mobile {
        display: none;
        position: absolute;
        width: 111px;
        z-index: 1568;
        right: 0%;
        top: -29px;
        background-color: var(--secondary-color);
    }
    
    #menu-mobile ul li {
        gap: 10px;
        font-weight: 600;
        font-size: 18px;
        user-select: none;
    }
    #menu-mobile ul li a {
        color: var(--primary-color);
    }

    #burguer {
        display:none
    }

    /**************************************************************************/




footer {
        background-color: var(--second-color);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
}
footer p {
        color: var(--primary-color);
}

ul li a:hover{
        color:var(--third-color)
}
@media(max-width: 882px){
        .blue-bg{
                background-size: 100%;
        }
        .white-bg{
                background-size: 100%;
        }
        .blue-header{
                background-size: 15% ;
        }
        .white-header{
                background-size: 15%
        }
        @media (max-width:680px) {
                .about-me img{
                        border-radius: 50%;
                }

                .blue-bg{
                        background-size: 125%;
                }
                .white-bg{
                        background-size: 125%;
                }
                .blue-header{
                        background-size: 20% ;
                }
                .white-header{
                        background-size: 20%
                }

               
                @media (max-width: 502px) {
                        .projects-container{

                                align-items: center;
                                justify-content: center;
                            }
                        }

                        header>nav>ul>li {
                            display: none;
                        }
                        #burguer {
                                display: block;
                            }
                        #home{
                                display:block
                        }
                        header>nav>ul {
                                display:flex;
                                justify-content: space-around;
                                gap:0
                        }
                        .blue-header{
                                background-size: 32%;
                                background-position: 80px 5px;
                        }
                        .white-header{
                                background-size: 32%;
                                background-position: 80px 5px;
                        }
                        .blue-bg{
                                background-size: 140%;
                        }
                        .white-bg {
                                background-size: 140%;
                        }
                }
        }


     
 